services:
  - type: web
    name: ukulima-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        value: mongodb+srv://mukky254:muhidinaliko2006@cluster0.bneqb6q.mongodb.net/ukulima?retryWrites=true&w=majority&appName=Cluster0
      - key: JWT_SECRET
        generateValue: true
